<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ url_for('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/adminlte.js') }}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{{ url_for('static', filename='plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/raphael/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<!-- PAGE SCRIPTS -->
<script src="{{ url_for('static', filename='dist/js/pages/dashboard2.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/custom/Common.js', version='1.0.0.1') }}"></script>
<script type="module" src="{{ url_for('static', filename='dist/js/custom/cs3p.js', version='1.0.0.1') }}"></script>
<script src="{{ url_for('static', filename='dist/js/custom/moment.js', version='1.0.0.1') }}"></script>
<script src="{{ url_for('static', filename='dist/js/datetimepicker.js', version='1.0.0.1') }}"></script>
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<!--  Bootstrap 3.3.7 -->
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/bstreeview.min.js') }}"></script>

<script src="{{ url_for('static', filename='dist/js/custom/socket.io.client.js') }}"></script>